@media screen and (max-width: 480px) {
/* NoBox Model for phones */
  *, *:before, *:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
}

.image-grid {
  padding: 0;
  margin: 0 0 30px;
}

.template-index .image-grid {
  margin-bottom:  0;
}

.image-grid:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 768px) {
  .image-grid {
    margin-bottom: 20px;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


.product-grid-item {
  list-style-type: none;
  float: left;
  text-align: center;
  min-height: 1px;
  padding: 0 5.0px 10px;
}

.collection-grid-item {
  list-style-type: none;
  float: left;
  text-align: center;
  min-height: 1px;
  padding: 0 5.0px 10px;
  object-fit: cover;
  height: 35.54%;
}

.product-grid-item.columns-1,
.collection-grid-item.columns-1 {
  width: 100%;
}

.product-grid-item.columns-2,
.collection-grid-item.columns-2 {
  width: 50%;
}

.product-grid-item.columns-3,
.collection-grid-item.columns-3 {
  width: 33.3333333333%;
}

.product-grid-item.columns-4,
.collection-grid-item.columns-4 {
  width: 25%;
}

.product-grid-item.columns-5,
.collection-grid-item.columns-5 {
  width: 20%;
}

.product-grid-item.columns-6,
.collection-grid-item.columns-6 {
  width: 16.66666666666667%;
}

/* @end */

@media (max-width: 1024px) {

  .product-grid-item.columns-1,
  .product-grid-item.columns-2,
  .product-grid-item.columns-3,
  .product-grid-item.columns-4,
  .product-grid-item.columns-5,
  .product-grid-item.columns-6,
  .collection-grid-item.columns-1,
  .collection-grid-item.columns-2,
  .collection-grid-item.columns-3,
  .collection-grid-item.columns-4,
  .collection-grid-item.columns-5,
  .collection-grid-item.columns-6,
  .masonry-sizer {
    width: 50%;
  }

}

@media (max-width: 768px) {

  .product-grid-item {
    padding: 5px;
  }

}

@media (max-width: 540px) {

  .product-grid-item.columns-1,
  .product-grid-item.columns-2,
  .product-grid-item.columns-3,
  .product-grid-item.columns-4,
  .product-grid-item.columns-5,
  .product-grid-item.columns-6,
  .collection-grid-item.columns-1,
  .collection-grid-item.columns-2,
  .collection-grid-item.columns-3,
  .collection-grid-item.columns-4,
  .collection-grid-item.columns-5,
  .collection-grid-item.columns-6,
  .masonry-sizer {
    width: 50%;
  }

}

.product-preview-image .icon-plus,
.post-preview .icon-plus {
  font-size: 3em;
  color: white;
  
    opacity: 0.7;
  
}

.reveal .reveal_hidden {
  display: block !important;
  visibility: visible !important;
}

.product:hover .reveal img {
  opacity: 1;

}

.reveal {
  position: relative;
  z-index: 10;
}

.reveal img {
  display: block;
}

.reveal .reveal_hidden {
  position: absolute;
  z-index: 9; /* Needed to prevent strange rendering issues in safari */
  top: 0;
  width: 100.2%;
  height: 100.2%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.reveal:hover .reveal_hidden {
  z-index: 49;
  opacity: 1;
}

/* Reveal caption */
.reveal .caption {
  padding: 20px;
  position: absolute;
  top: 0;
  display: table;
  width: 100.2%;
  height: 100.2%;
  letter-spacing: 1px;
  text-align: center;
  text-rendering: optimizeLegibility;
  
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
  
}

.reveal h4,
.reveal .caption .product-preview-price {
  text-align: center !important;
  
    color: #ffffff;
  
}

.reveal .reveal_hidden .caption .centered {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 768px) {

  .reveal .caption {
    font-size: 0.8.5em;
  }

}

.image-zoom-effect {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
}

.transition-scale {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

/*.revealOnScroll {
  opacity: 0;
}*/
.revealed {
  opacity: 1;
}


.product-preview-image {
  width: 100%;
  min-height: 1px;
  /*  height: 200px; */
  display: block;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.product-preview-image a,
.product-preview-image img,
.product-preview-image .placeholder-svg {
  display: block;
}

/* Borders are also used on featured-collections-grid.liquid */

.product-preview-border {
  border: 0 solid #e7e7e7;
}

/* Block is needed to prevent the image from being an inline element. */

.product-preview-image img {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.center {
  text-align: center;
}